.contenedor{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;

}
.contenedor1{
    margin-top: 20px;
    padding-top: 20px;
}
.contenedor2{
    text-align: right;
    margin-top: 1px;
    padding-left: 5px;
}
.contenido{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px  rgb(170, 172, 169);
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 0;

}

p{
    margin: 0;
    font-size: 20px;
}

h2{
    font-size: 40px;
}

button{
    width: 220px;
    height: 50px;
    border-radius: 20px;
}

.boton{
    border-radius: 20px;
    justify-content: center;
    box-shadow:  2px 2px 2px 2px   rgb(156, 238, 115);
}

.botonvolver{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px  rgb(224, 101, 101);
}
