.contenedor{
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;

}
.contenedor1{
    margin-top: 100px;
    padding-top: 120px;
    padding-right: 15px;
}
.contenedor2{
    text-align: right;
    margin-top: 1px;
    padding-left: 5px;
}
.contenido{
    border-radius: 20px;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px  rgb(170, 172, 169);
    width: 600px;
    height: 250px;
    padding-top: 25px;
    margin-left: 25px;

}

p{
    margin: 0;
    font-size: 20px;
}

h2{
    font-size: 40px;
}

button{
    width: 220px;
    height: 50px;
}